@font-face {
  font-family: "SF Pro Display";
  font-style: normal;

  src: url(sf-pro-text_semibold.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

nav ul {
  list-style: none;
  background-color: #161617;
  display: flex;
  height: 48px;
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: "SF pro Display";
  font-size: 12px;
  font-weight: 400;
}

nav i {
  font-size: 20px;
}

.main {
  height: 100vh;
  position: relative;
}
.fimg {
  padding: 40px;
  height: 100%;
  width: 100%;
  background-image: url(hero_endframe__xdzisdq1ppem_xlarge_2x.jpg);
  background-size: cover;
}

.fimg button {
    margin: 20px;
  width: 80px;
  height: 45px;
  font-size: 21px;
  font-weight: 700;
  border-radius: 30px;
  background-color: rgba(6, 106, 255, 0.847);
  border: none;
  color: white;
}

.fimg p {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.fimg {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
